@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transition-enter {
  transition-duration: 700ms;
  transform-origin: center;
  transform: translateY(-8px) scale(0.95);
  opacity: 20;
}
.transition-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
}
/* Leave Transition */
.transition-leave {
  transition-duration: 300ms;
  transform: translateY(20px) scale(1);
  opacity: 20;
  position: absolute;
}
.transition-leave-active {
  transform: translateY(12px) scale(0.95);
  opacity: 100;
}